Repository ansys/pyansys-tools-versioning, pull requests merged in 2023-01, with the labels that each got.

#56 Implementing pre-commit.ci
  .github/workflows/ci_cd.yml
  README.rst
Labels: maintenance

#59 Implementing blacken docs
  .pre-commit-config.yaml
  doc/source/user_guide.rst
Labels: documentation, maintenance

#58 Exposing new functions at the module level.
  src/ansys/tools/versioning/__init__.py
  src/ansys/tools/versioning/utils.py
  tests/test_utils.py
Labels: enhancement

#61 Adding Version to utils
  src/ansys/tools/versioning/utils.py
  tests/test_utils.py
Labels: enhancement

#69 Switching back to Sphinx 5.3.0 - broken docs
  pyproject.toml
Labels: bug, maintenance
